// Background Frost. Must inherit background form container to work!
@mixin bg_frost($bg-color) {
  background: inherit;
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
    position: absolute;
    background: inherit;
    background-size: cover;
    background-attachment: fixed;
    top: -50%;
    left: -50%;
    bottom: -50%;
    right: -50%;
    box-shadow: inset 0 0 0 5000px $bg-color;
    -webkit-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
  }
}
