@mixin mui-button($fore-color, $bg-color) {
  color: $fore-color;
  background: $bg-color;
  border: 1px transparent solid;
  text-decoration: none;
  &:hover {
    background: lighten($bg-color, 10%);
  }
  &:active,
  &:focus {
    background: $fore-color;
    color: $bg-color;
    border: 1px solid $bg-color;
  }
  &:active,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}
