.paragraph--type--hero.paragraph--view-mode--preview {
  display: flex; }
  .paragraph--type--hero.paragraph--view-mode--preview .field--name-field-background-media {
    margin-right: 1em; }
  .paragraph--type--hero.paragraph--view-mode--preview .field--name-field-heading {
    font-weight: bold; }

form .field--type-entity-reference-revisions .field-multiple-table .field-multiple-drag {
  padding-top: 17px; }

form .field--type-entity-reference-revisions .field-multiple-table .paragraph-type-top {
  border-top: 2px solid #369;
  margin-bottom: 10px; }
  form .field--type-entity-reference-revisions .field-multiple-table .paragraph-type-top .paragraph-type-title {
    background: #369;
    color: #fff;
    padding: 5px 10px; }
  form .field--type-entity-reference-revisions .field-multiple-table .paragraph-type-top .paragraphs-dropbutton-wrapper {
    margin-top: 2px; }
