
// Layout, min-width.
$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xlg: 1200px !default;
$spacer: 30px;

// Fonts
@font-face {
  font-family: 'icons_ui';
  src:
    url('../fonts/icons_ui/fonts/icomoon.ttf?qc827z') format('truetype'),
    url('../fonts/icons_ui/fonts/icomoon.woff?qc827z') format('woff'),
    url('../fonts/icons_ui/fonts/icomoon.svg?qc827z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
