.is-hero {
  #block-sitecat-page-title {
    display: none;
  }
  #header {
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  #main,
  #main-wrapper {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #content {
    nav.tabs {
      position: absolute;
      bottom: 0;
      z-index: 20;
      ul.nav {
        li {
          display: block;
          float: none;
          clear: both;
        }
        a {
          color: rgba(255,255,255,.85);
          border-radius: 0;
          padding: 8px;
          line-height: 1em;
          &.active {
            color: #333;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-sm) {
  .is-hero {
    #header {
      position: fixed;
    }
  }
}
