

.navbar {
  .navbar-toggler {
    padding: 5px;
    .navbar-toggler-icon {
      width: 1.5em;
      height: 1em;
      background-image: none;
      &::after {
        font-family: "icons_ui";
        content: "\e9bf";
      }
    }
    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        &::after {
          content: "\e9c0";
        }
      }
    }
  }
}
