// Colors
$text-dark-color: rgba(40,40,40,.75);
$text-light-color: rgba(255,255,255,.75);
$link-dark-color: #369;
$link-dark-hover-color: lighten($link-dark-color, 10%);
$link-light-color: rgba(255,255,255,.85);
$link-light-hover-color: rgba(255,255,255,1);
