:root {
  background: rgb(50,50,50);
}
html, body {
  color: $text-dark-color;
}
a {
  cursor: pointer;
  color: $link-dark-color;
  &:hover {
    color: $link-dark-hover-color;
  }
}
.navbar,
.site-footer {
  color: $text-light-color;
  a {
    color: $link-light-color;
    &:hover {
      color: $link-light-hover-color;
    }
  }
}
.navbar-brand {
  border-color: rgba(255,255,255,.25);
  border-right: 1px solid rgba(255, 255, 255, .2);
}
.navbar {
  transition-duration: 500ms;
  background: rgba(40,40,40,.9);
  .navbar-toggler-icon {
    &::after {
      color: $link-light-color;
    }
  }
}
.site-footer {
  background: rgba(50,50,50,1);
}
.is-hero {
  .navbar {
    background: rgba(40,40,40,0);
  }
  &.scrolled {
    .navbar {
      background: rgba(40,40,40,.9);
    }
  }
}
