.field--label-inline {
  .field--label {
    display: inline-block;
    &:after {
      content: ': ';
    }
  }
  .field__items {
    display: inline-block;
  }
  .field--item {
    display: inline;
    &:after {
      content: ',';
    }
    &:last-of-type:after {
      content: '.';
    }
  }
}
